# docker-compose.yml
services:
  db:
    image: postgres:14
    environment:
      POSTGRES_DB: melb_weather_data
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
  app:
    build: .
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_NAME: melb_weather_data
      DB_USER: postgres
      DB_PASSWORD: postgres
